.ActualList_div_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
}

/* Estilo para la lista de tareas */
.ActualList_ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    width: fit-content;
    border-radius: 20px;
}

.ActualList_li {
    margin: 10px;
}