/* Estilo para el popup */

.ventana-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px 90px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-popup {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para cada tarea (item) */
.div_item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out;
    font-size: calc(10px + 1vmin);
}
.div_item:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.565);
}

.div_item_info {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_info_item {
    font-size: calc(5px + 2vmin);
    width: 30%;
    background-color: lightblue;
    border: none;
    color: white;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

.button_info_item:hover {
    background-color: rgb(0, 191, 255);
}

/* Estilo para los botones de modificar */
.modify-button-popup {
    background-color: #4caf50;
}
.modify-button-popup:hover {
    background-color: #388e3c;
}

/* Estilo para los botones de cancelar */
.cancel-button-popup {
    background-color: lightcoral;
}
.cancel-button-popup:hover {
    background-color: red;
}
