.item_div { 
    font-size: calc(5px + 1.5vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    max-width: 400px;
    width: 80vw;
    background-color: #ffffff; /* Blanco para mejor contraste */
    border-radius: 12px; /* Un poco más redondeado */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Sombra más suave */
}
/* Similar a general_form pero adaptado al item. Sin transicion para evitar problema con la ventana modal*/

.item_h3_checked {
    text-decoration:line-through;
}

.item_button {
    font-size: calc(5px + 2vmin);
    width: 50px;
    color: white;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.item_button_info_item:hover {
    background-color: rgb(0, 191, 255);
}

.item_button_modify{
    background-color: #36b8f4;
}
.item_button_modify:hover{
    background-color: #0c5679;
}

.item_button_delete{
    background-color: #c49292;
}
.item_button_delete:hover{
    background-color: #ff0000;
}

.item_button_checked{
    background-color: #6effa1;
}

.item_button_checked:hover{
    background-color: #67bd12;
}

