#newItemForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 25px;
    gap: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.div-group{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}

.div-group-buttons{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.input_NewItem{
    height: 30px;
    margin: 10px ;
    font-size: calc(5px + 2vmin);
    border-radius: 5px;
}

.buttonPlus_newItem{
    font-size: calc(5px + 2vmin);
    background-color: lightgreen;
}

.buttonPlus_newItem:hover{
    background-color: green;
}

.buttonMinus_newItem{
    font-size: calc(5px + 2vmin);
    background-color: lightcoral;
}

.buttonMinus_newItem:hover{
    background-color: red;
}

.button_AddNewItem{
    font-size: calc(5px + 2vmin);
    background-color: lightskyblue;
}

.button_AddNewItem:hover{
    background-color: rgb(0, 191, 255);
}

/*Quitar flechas campo input number*/
.input_NewItem::-webkit-inner-spin-button,
.input_NewItem::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }